$basicColor: #B03F3F;
$backgroundColor: #DCDCDC;

@media only screen and (max-width: 600px){ 
  .signButton {
    width: 100% !important;
    margin-top: 5px;
  }  
  .cancelButton {
    width: 100% !important;
    margin-bottom: 5px;
  }  
}

.catalogContainer{
  background-color: white;
  margin-left: 4% !important;
  margin-right: 4% !important;
  margin-top: -60px !important;
  height:auto;
  color: grey;
  padding-bottom: 3% !important;
}

.catalogTitle{
  box-shadow: none !important;
  width: 100%;
}

.groupList{
  display: flex;
  width: 60%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  box-shadow: none !important;
  text-align: center;
}

.ui.card, .ui.cards .card .content{
  border: none;
}

.ui.circular.image{
  background-color: $backgroundColor;
  width: 70px;
  height: 70px;
  border: 2px solid;
  border-color: $basicColor;
  margin-bottom: 10px;
}

.titleGroup{
  color:black;
  border-bottom: none; //.3rem solid $basicColor;
  width: 3rem;
  margin: 0 1rem;
  transform: translateY(-2rem);
}

.ui[class*="vertically divided"].grid .row:before{
  height: 0px;
}

.categoryCard{
  width: 100px;
  height: 100px;
}

.ui.card {
  margin:  0; 
}

.categoriesContainer{
  width: 90%;
  color: black;
}