$backgroundColor: #DCDCDC;

.footer{  
  margin-top: 5% !important;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.footerLogos{
  background-color: white;
  height: 30px;
  border-left: 20%;
  text-align: center;
}

.footerText{
  background-color:#D7D4D4;
  height: 30px;  
}