.ui.cards .card {
  width: 150px;
  margin: .8em 1.3em;
  align-content: center;
  text-align: center;
}

.outStock{
  color:red;
  font-weight: bold;
}

.buyButton{
  font-weight: bold;
}

.ui.card, .ui.cards .card .content {
  text-align: right;
}

.priceLabel{
  margin-block-start: 0;
  margin-block-end: 0;
  color:#428FE9;
}